@font-face {
    font-family: Poppins-Medium;
    src: url("C:\Users\saad5\Desktop\Tourism in Pakistan(Saad Ibrahim)\Tourism in Pakistan(Saad Ibrahim)\fonts\Poppins\Poppins-Medium.ttf");
}

*{

    font-family:'Poppins-Medium',sans-serif ;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    display: inline-block;
    margin: 20px;
    border-radius: 48px;
    padding: 21px 16px;
    background-color: #0969a1;
    color: white;
    font-size: 20px;
   
    }

.btn:hover{
    box-shadow: 6px 6px 12px black;
    opacity: 96%;
}




.cardbtn{
    display: inline-block;
    margin: 20px;
    border-radius: 40px;
    padding: 44px 73px;
    background-color: white;
    color: black;
    font-size: 20px;
}

.cardbtn:hover{ 
    border-bottom-width: 3px;
    border-bottom-color: #0d6efd;
    border-bottom-style: solid;
}

.multi-btn-div{
    display: flex;
    margin-top: 86px;
    padding: 0 24px;
    justify-content: center;
    align-content: center;

}

.btn-white{
    display: flex;
    margin: 10px;
    padding: 11px 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    justify-content: space-between;
    height: 42px;
    width: 117px;
}

.btn-white:hover{
    background-color: black;
    color: white;
}

.btn-white>i{
    font-size: 18px;
    /* margin-left: 23px; */
    
}

/* .btn-explore{
    display: flex;
    margin: 10px;
    padding: 11px 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 117px;
}

.btn-explore:hover{
    background-color: black;
    color: white;
} */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 4px grey;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.nav-content{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 115px;
}

.nav-content:hover{
    background-color:#e3f0e3;
    cursor: pointer;
}

.nav-content>a>i{
    font-size: 18px;
    margin-right: 8px;
}

.title-heading{
    font-size: 40px;
    text-align: center;
    
}




@media(max-width: 715px){
    


}

.main-img-cont{
    margin-top: 20px;
    padding: 0 24px;
    position: relative;
    margin-bottom: 40px;
    
}
.main-img{
    border-radius: 80px;
    /* opacity: 90%; */
    
}


.main-img-cont>.trip-plan{
    position: absolute;
    left: 50px;
    bottom: 240px;
    color: white;
    font-size: 40px;
    text-shadow: 6px 6px 12px black;
    padding-bottom:18px ;
}

.main-img-cont>.trip-plan-text{
    position: absolute;
    left: 50px;
    bottom: 240px;
    color: white;
    text-shadow: 6px 6px 12px black;
    font-size: 18px;
    
}

/* .main-img-cont>.btn-explore{
    
    position: absolute;
    left: 50px;
    bottom: 240px;
    
    
} */


.main-heading{
    font-size: 40px;
    text-align: center;
    margin-right: 50px ;
    margin-left: 50px;
    
}

.main-text{
    background-color: #e6f4fd;
    text-align: justify;
    border-radius: 39px;
    padding: 16px;
    margin: 15px auto;
}

.search-cont{
    /* background-color: #eff8ff; */
    background-image: url("https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans.webp");
    text-align: center;
    padding: 80px 24px;
    color: white;
        
}

.search-cont>h1{
    text-shadow: 6px 6px 12px black;
    
}

.search-bar{
    padding-left: 18px;
    height: 60px;
    width: 530px;
    border-radius: 55px;
    font-size: 15px;
    box-shadow: 6px 6px 12px black;
    border: none;
    
}


.tour-img-head{
    /* display: flex;
    
    justify-content: center;
    flex-direction: column; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 24px;
}

.tour-img-cont{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 0 24px;
    
}

.tour-img{
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.icon-heart{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.icon-heart > i {
    margin-right: 0px;
    font-size: 25px;
  }

.tour-img-block{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.tour-img-link{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 18px;
}
.tour-img-link:hover{
    text-decoration: underline;
    opacity: 80%;
    
}

.tour-img-review{
    font-size: 12px;
}

.tour-img-price{
    font-weight: 600;
    font-size: 16px;
    
}

.dest-heading{
    text-align: center;
    margin: 34px;
    
}

.dest-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eff8ff;
    border-radius: 39px;
    padding: 0 24px;
}


.booking-section{
    text-align: center;
    background-color: aliceblue;
    margin: 10px;
    
}



.footer-section{
    background-color: #0d6efd;
    text-align: center;
    padding: 3px;

}

.home-link{
    color: white;
    font-size: 24px;
    font-weight: 600;
    
}

.content-heading{   
    text-align: center;
}

.ref-link-cont{
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1 ;
    padding: 5px auto;
    width: 420px;
    
    
}

.sub-img{
    display: block;
    border-radius: 50px;
    margin: 0 auto;
    
}


